:root {
    --colorDefault: black;
    --colorError: red;
}

nav > ul {
    padding-left: 0;
    li {
        display: inline-block;
        margin-right: 1rem;
        list-style-type: none;
    }
}

/* Book card */
article {
    h3, h4 {
        display: inline-block;        
        margin: 0;
    }
    h4:before { content: '('; }
    h4:after { content: ')'; }
    h4+p {
        margin-top: 0;
    }
    
    header+p {
        margin-top: 0;
    }
}

.message {
    border: thin solid var(--colorDefault);
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0 1rem;    
}

.validation_error {
    color: var(--colorError);
}